[submodule "frontend"]
        path = frontend
        url = https://github.com/sandhose/recipes-frontend.git
[submodule "api"]
        path = api
        url = https://github.com/sandhose/recipes-api.git
